UI_AUTOMATION/workflows/workflow_notepad_automation.json
{
  "name": "workflow_notepad_automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b56335c5-ca9a-4358-b901-e6e776fd1d43",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Conert the date and time into wording \n{{ $json.date_time }}\nExample \ninput: 31-03-2026 03:12:55\nOutput 23rd Jul 2026 08:08:26 Pm IST\n\n# Strictly only line output\n",
        "messages": {
          "messageValues": [
            {
              "message": "="
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        -144
      ],
      "id": "938fa57f-84a8-4a9f-92da-6eff6848f1bf",
      "name": "Basic LLM Chain",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        400,
        112
      ],
      "id": "c7f0506c-2cbc-4065-aa6d-ec9cfd468958",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2w1a7EaDBwgIQLI6",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbc2e178-a61b-43f1-8f52-1c084808b35a",
              "name": "date_time",
              "value": "={{ new Date().toLocaleString('en-GB').replace(',', '').replace(/\\//g, '-') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        16
      ],
      "id": "dde9a624-80d9-4d55-9818-80aeb4c20574",
      "name": "Set Date Time"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/write",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Welcome Time:{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "id": "ecfa4151-5126-45f3-b8c1-4e8c0cf1fb9b",
      "name": "HTTP Request Notepad automation",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Date Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request Notepad automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date Time": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Notepad automation": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2652c871-6c57-4021-9931-8df5adfbb108",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "179fee8d989303346356ffe7dd9d8820a00c5685d33ec7eecf961d150a33de01"
  },
  "id": "OgyVDUE02ynHywCl",
  "tags": []
}