UI_AUTOMATION/workflows/workflow_ai_nodes.json
{
  "name": "workflow_ai_nodes",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -32,
        416
      ],
      "id": "a42b81d5-ad99-4201-816c-8625ada83bf6",
      "name": "Send a message in Gmail",
      "webhookId": "da04b7d9-ccfa-41ef-a46f-e6860dbb49dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "w63Xu7fn9rXZXnUi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Describe this quotes with clear explanation\n{{ $json.output[0].content }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert in describing the quotes in simple engish"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        -48
      ],
      "id": "01e8bccf-1920-4c65-9ead-74e9abb43709",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        160
      ],
      "id": "fdda168a-e367-48bf-9c20-a088ffb9916b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "b8g7HNJoNo2rUNan",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an intelligent assistant to generate motivational quotes\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -544,
        -368
      ],
      "id": "195a1fc3-4016-498f-a35e-39434ac1192f",
      "name": "Open AI Message a Model",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "b8g7HNJoNo2rUNan",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Motivtion",
              "description": "Any motivational words"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        496,
        -32
      ],
      "id": "523bbaf9-866e-4db2-9bac-e5c873399a92",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        432,
        176
      ],
      "id": "45d920ed-ee4d-4e19-8024-70ce56d87719",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "b8g7HNJoNo2rUNan",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        816,
        -48
      ],
      "id": "932fac38-f51a-4a18-981e-f675ed65fcfd",
      "name": "Get many messages",
      "webhookId": "dd7a9f74-c690-4b6f-b816-1bcf73d77bb3",
      "credentials": {
        "gmailOAuth2": {
          "id": "w63Xu7fn9rXZXnUi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.Subject }}",
        "attributes": {
          "attributes": [
            {
              "name": "Subject",
              "description": "Give me the List of Subject"
            },
            {
              "name": "body",
              "description": "Give me the body content from mail id"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1024,
        -48
      ],
      "id": "83fbb025-40c2-401d-add3-b346fa232d14",
      "name": "Information Extractor1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        960,
        160
      ],
      "id": "55c98dcc-3f03-4a1e-ad72-3c8b11116620",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "b8g7HNJoNo2rUNan",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tell me the answer for user Question :  {{ $json.output.Subject }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1488,
        -64
      ],
      "id": "25955320-76be-4cdb-b30e-7eaa4527ed90",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1232,
        160
      ],
      "id": "3fd1b082-3d16-4961-8e1f-7502416ec8ef",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "b8g7HNJoNo2rUNan",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1488,
        160
      ],
      "id": "414fb8fd-d309-41c7-b30f-552465d0275c",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1424,
        416
      ],
      "id": "40f8116c-3770-46a0-bbed-da4d5e741b01",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        624
      ],
      "id": "2f3a3a55-2d66-4feb-a400-bb8b633bc4e6",
      "name": "Embeddings OpenAI",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "b8g7HNJoNo2rUNan",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Review System",
        "formDescription": "Get Feedback from customers",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Describe feedback as:",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -448,
        64
      ],
      "id": "b3cfb1f9-260c-4b00-9d76-d613689f10ee",
      "name": "On form submission",
      "webhookId": "3bedcfc6-40e8-4eac-a712-1e0eb15640df"
    },
    {
      "parameters": {
        "inputText": "={{ $json['Describe feedback as:'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        -240,
        64
      ],
      "id": "a2438b19-94e5-4b74-9a48-ded50d01abcf",
      "name": "Sentiment Analysis",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -320,
        272
      ],
      "id": "542f0c3d-e297-454b-84ab-6d96db9284a3",
      "name": "OpenAI Chat Model4",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "b8g7HNJoNo2rUNan",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        320,
        -320
      ],
      "id": "82f18f08-f15c-456e-98de-b03fcba21065",
      "name": "Summarization Chain",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        672,
        -160
      ],
      "id": "08cd65e7-2473-4ff4-9aab-0092fe29f985",
      "name": "OpenAI Chat Model5",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "b8g7HNJoNo2rUNan",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        896,
        -192
      ],
      "id": "9db957b7-e417-4c7a-aad9-a16385ec7e5b",
      "name": "OpenAI Chat Model6",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "b8g7HNJoNo2rUNan",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.output?.text ?? $json[0]?.output?.text }}",
        "categories": {
          "categories": [
            {
              "category": "Good",
              "description": "Positive feedbacks"
            },
            {
              "category": "Bad",
              "description": "Negative or avaregae feedbacks"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1040,
        -336
      ],
      "id": "94505a5d-e9a3-4f2f-a7b3-36d93e0e2c91",
      "name": "Text Classifier"
    }
  ],
  "pinData": {},
  "connections": {
    "Send a message in Gmail": {
      "ai_tool": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Open AI Message a Model": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f3c0a9ba-0dc9-45ac-b6f8-dc96115d4635",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04e96627bb756684b55c0bae404e72f75490c3b7016d8b1689c3e34644a486f2"
  },
  "id": "UhnqQwQesmosIcce",
  "tags": []
}