UI_AUTOMATION/workflows/workflow_telegram_automation.json
{
  "name": "workflow_telegram_automation",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "5589e91a-2783-4088-ae4f-bbb2ec8d8912",
      "name": "Telegram Trigger",
      "webhookId": "a944fe69-254c-4d8f-be60-2227721326c1",
      "credentials": {
        "telegramApi": {
          "id": "mDrTMaOh58svFFGd",
          "name": "socialeagle_sri_ai"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reply the user requested query  {{ $json.message.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a skilled personal assistant"
            }
          ]
        },
        "batching": {
          "batchSize": null
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "6b8ac6e9-4f5e-4c89-baba-edccef72a144",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "id": "19c0c201-6663-453a-bdb1-edbfc23f53df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "b8g7HNJoNo2rUNan",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "9896cf4a-7eea-4bf7-b214-388c76bb6e8f",
      "name": "Send a text message",
      "webhookId": "04ec0f68-e05f-4206-902f-7e54722191ad",
      "credentials": {
        "telegramApi": {
          "id": "mDrTMaOh58svFFGd",
          "name": "socialeagle_sri_ai"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b94766b3-ef04-494a-af14-fe25d33c22a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04e96627bb756684b55c0bae404e72f75490c3b7016d8b1689c3e34644a486f2"
  },
  "id": "iu4JMRnkSY4fRXP8",
  "tags": []
}